<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-info</title>
</head>
<body>
<div class="container">
    <div th:insert="~{fragments/bodyHeader :: bodyHeader}"></div>
</div>
<div class="container-fluid">
    <div class="row py-4 d-flex justify-content-center">
        <div class="col-lg-2 py-5 mt-3">
            <hr class="my-3">
            <div class="btn-group-vertical  col-sm-4" role="group" aria-label="Vertical button group" >
                <div class="row">
                    <div class="btn-group dropdown col pb-5" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0d1b3e !important;">
                            기본정보
                        </button>
                        <ul class="dropdown-menu" style="background-color: #beee62;">
                            <li><a class="dropdown-item" href="/product-info">제품정보</a></li>
                            <li><a class="dropdown-item" href="/process-info">공정정보</a></li>
                            <li><a class="dropdown-item" href="/workOrder">작업지시</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown col pb-5" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0d1b3e !important;">
                            자재관리
                        </button>
                        <ul class="dropdown-menu" style="background-color: #beee62;">
                            <li><a class="dropdown-item" href="/material/process">공정계획</a></li>
                            <li><a class="dropdown-item" href="/inventorys">입고현황</a></li>
                            <li><a class="dropdown-item" href="/boms">BOM</a></li>

                        </ul>
                    </div>
                    <div class="btn-group dropdown col pb-5" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0d1b3e !important;">
                            생산관리
                        </button>
                        <ul class="dropdown-menu" style="background-color: #beee62;">
                            <li><a class="dropdown-item" href="/machineStatus">설비 현황</a></li>
                            <li><a class="dropdown-item" href="/product/view">공정현황</a></li>

                        </ul>
                    </div>
                    <div class="btn-group dropdown col pb-5" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0d1b3e !important;">
                            출하관리
                        </button>
                        <ul class="dropdown-menu" style="background-color: #beee62;">
                            <li><a class="dropdown-item" aria-current="page" href="/productList">재고현황</a></li>
                            <li><a class="dropdown-item" aria-current="page" href="/inventorysOut">출고현황</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown col pb-5" role="group">
                        <button type="button" class="custom-btn btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0d1b3e !important;">
                            회원관리
                        </button>
                        <ul class="dropdown-menu" style="background-color: #beee62;">
                            <li><a class="dropdown-item" href="/members">
                                회원목록
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-2">
        </div>
        <div class="col my-3">
            <section class="product-info" id="portfolio">
                <div class="container">
                    <div class="text-center text-white py-5">
                        <h1 class="fw-bold mb-3 text-black">제품 정보</h1>
                        <div class="row gx-3">
                            <div class="col-lg-4">
                                <div class="card overflow-hidden">
                                    <img src="./images/product-info1.jpg" class="card-img-top" alt="커버스크류 이미지">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">CoverScrew(커버스크류)</h5>
                                        <p class="card-text text-secondary fw-bold pt-2">픽스처와 잇몸 간에 이물질이 고이는 것을 <br>막아주는 역할을 담당</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card overflow-hidden">
                                    <img src="./images/product-info2.jpg" class="card-img-top" alt="지대주 이미지">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">ABUTMENT(지대주)</h5>
                                        <p class="card-text fw-bold text-secondary pt-2">보철물을 지지하기 위해 인공치근과 크라운을 <br>연결시키는 역할을 담당</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card overflow-hidden">
                                    <img src="./images/product-info3.jpg" class="card-img-top" alt="픽스쳐 이미지">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold mb-4">FIXTURE(픽스쳐)</h5>
                                        <p class="card-text fw-bold text-secondary pt-2">자연 치아의 뿌리를 담당하는 고정체와 같은 <br>역할을 담당 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>