<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark"  style="background-color: #0d1b3e !important;">
        <div class="container-fluid">
            <img src="/images/logo.jpg" alt="logo">
            <a class="logo-font navbar-brand fw-bold ms-2" href="/">
                Smile Implant </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menubar">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 align-items-baseline">
                    <li class="nav-item ">
                        <a class="nav-link fw-bold fonts" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link fw-bold fonts" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn nav-link fw-bold" aria-current="page">로그아웃</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>